@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-one: #146356;
  --color-two: #464e2e;
  --color-three: #966c3b;
  --color-four: #876445;
  --backpack-heros: #ecaa00;
  --g3lifeapps: #85c236;
  --mango-chapel: #db2b39;
}
::selection {
  color: var(--color-one);
}
body {
  background-color: black;
  color: white;
}
.hero {
  background-image: url('/img/contactfix.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}
nav {
  color: var(--color-white);
  display: flex;
  padding: 3em;
  width: 100%;
  transition: 2s;
}
.logo-container {
  flex: 1;
}
.logo-container h1 {
  font-size: 2em;
  font-weight: 800;
}
.logo-container a {
  color: var(--color-white);
  text-decoration: none;
}
.logo-container a:hover {
  color: var(--color-one);
}
.link-container {
  flex: 1;
}
.link-container ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 1.2em;
  font-weight: 500;
}
.link-container li {
  padding: 0.6em 0.4em 0em 0.4em;
}
.link-container a {
  color: var(--color-white);
  text-decoration: none;
}
#button {
  background-color: var(--color-one);
  padding: 0.6em;
  border-radius: 2em;
}
#button:hover {
  color: white;
  background-color: #464e2e;
  animation-name: button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.self-introduction {
  color: var(--color-white);
  padding: 3em;
  transition: 2s;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5em;
  width: 100%;
  text-align: center;
}
.self-introduction h2 {
  font-size: 9em;
  font-weight: 900;
}
@keyframes button {
  0% {
    background-color: var(--color-one);
  }
  50% {
    background-color: var(--color-two);
  }
  100% {
    background-color: #146356;
  }
}
@keyframes project {
  0% {
    color: var(--backpack-heros);
  }
  50% {
    color: var(--g3lifeapps);
  }
  80% {
    color: var(--mango-chapel);
  }
  100% {
    color: var(--backpack-heros);
  }
}
.newsletter-footer {
  flex: 1;
}
.newsletter-footer p {
  font-size: 1em;
}
.footer-container {
  background-color: var(--color-one);
  display: flex;
  padding: 2em;
}
.logo-footer {
  flex: 3;
  padding: 3em;
}
.logo-footer h5 {
  font-size: 2.5em;
}
.logo-footer p {
  font-size: 1em;
  padding: 0.4em 0em 0em 0em;
  color: rgb(206, 206, 206);
}
#bold {
  color: white;
}
.explore-footer {
  flex: 1;
  padding: 3em;
}
.explore-footer h6 {
  font-size: 1.5em;
}
.explore-footer ul {
  list-style-type: none;
}
.explore-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.explore-footer a:hover {
  color: white;
}
.follow-footer {
  flex: 1;
  padding: 3em;
}
.follow-footer h6 {
  font-size: 1.5em;
}
.follow-footer ul {
  list-style-type: none;
}
.follow-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.follow-footer a:hover {
  color: white;
}
.credits-footer {
  flex: 1;
  padding: 3em;
}
.credits-footer h6 {
  font-size: 1.5em;
}
.credits-footer ul {
  list-style-type: none;
}
.credits-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.credits-footer a:hover {
  color: white;
}
