@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-one: #146356;
  --color-two: #464e2e;
  --color-three: #966c3b;
  --color-four: #876445;
  --backpack-heros: #ecaa00;
  --g3lifeapps: #85c236;
  --mango-chapel: #db2b39;
}
::selection {
  color: var(--color-two);
}
body {
  background-color: black;
  color: white;
}
.hero {
  background-image: url('../img/resume.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}
nav {
  color: var(--color-white);
  display: flex;
  padding: 3em;
  width: 100%;
  transition: 2s;
}
.logo-container {
  flex: 1;
}
.logo-container h1 {
  font-size: 2em;
  font-weight: 800;
}
.logo-container a {
  color: var(--color-white);
  text-decoration: none;
}
.logo-container a:hover {
  color: var(--color-one);
}
.link-container {
  flex: 1;
}
.link-container ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 1.2em;
  font-weight: 500;
}
.link-container li {
  padding: 0.6em 0.4em 0em 0.4em;
}
.link-container a {
  color: var(--color-white);
  text-decoration: none;
}
#button {
  background-color: var(--color-one);
  padding: 0.6em;
  border-radius: 2em;
}
#button:hover {
  color: white;
  background-color: #464e2e;
  animation-name: button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.self-introduction {
  color: var(--color-white);
  padding: 3em;
  transition: 2s;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3em;
  width: 100%;
  text-align: center;
}
.self-introduction h2 {
  font-size: 9em;
  font-weight: 900;
}
@keyframes button {
  0% {
    background-color: var(--color-one);
  }
  50% {
    background-color: var(--color-two);
  }
  100% {
    background-color: #146356;
  }
}
@keyframes project {
  0% {
    color: var(--backpack-heros);
  }
  50% {
    color: var(--g3lifeapps);
  }
  80% {
    color: var(--mango-chapel);
  }
  100% {
    color: var(--backpack-heros);
  }
}
.resume-section {
  align-items: center;
  text-align: center;
  padding: 3em;
}
.resume-photo {
  width: 50%;
  border-radius: 2em;
  margin: auto;
}
.newsletter-footer {
  flex: 1;
}
.newsletter-footer p {
  font-size: 1em;
}
.footer-container {
  background-color: var(--color-one);
  display: flex;
  padding: 2em;
}
.logo-footer {
  flex: 3;
  padding: 3em;
}
.logo-footer h5 {
  font-size: 2.5em;
}
.logo-footer p {
  font-size: 1em;
  padding: 0.4em 0em 0em 0em;
  color: rgb(206, 206, 206);
}
#bold {
  color: white;
}
.explore-footer {
  flex: 1;
  padding: 3em;
}
.explore-footer h6 {
  font-size: 1.5em;
}
.explore-footer ul {
  list-style-type: none;
}
.explore-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.explore-footer a:hover {
  color: white;
}
.follow-footer {
  flex: 1;
  padding: 3em;
}
.follow-footer h6 {
  font-size: 1.5em;
}
.follow-footer ul {
  list-style-type: none;
}
.follow-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.follow-footer a:hover {
  color: white;
}
.credits-footer {
  flex: 1;
  padding: 3em;
}
.credits-footer h6 {
  font-size: 1.5em;
}
.credits-footer ul {
  list-style-type: none;
}
.credits-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.credits-footer a:hover {
  color: white;
}
.button {
  text-align: center;
  padding: 2em;
  margin: 2em 0em 0em 0em;
}
.button a {
  background-color: var(--color-one);
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1em;
  border-radius: 2em;
}
.newsletter-footer {
  flex: 1;
}
.newsletter-footer p {
  font-size: 1em;
}
.footer-container {
  background-color: var(--color-one);
  display: flex;
  padding: 2em;
}
.logo-footer {
  flex: 3;
  padding: 3em;
}
.logo-footer h5 {
  font-size: 2.5em;
}
.logo-footer p {
  font-size: 1em;
  padding: 0.4em 0em 0em 0em;
  color: rgb(206, 206, 206);
}
#bold {
  color: white;
}
.explore-footer {
  flex: 1;
  padding: 3em;
}
.explore-footer h6 {
  font-size: 1.5em;
}
.explore-footer ul {
  list-style-type: none;
}
.explore-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.explore-footer a:hover {
  color: white;
}
.follow-footer {
  flex: 1;
  padding: 3em;
}
.follow-footer h6 {
  font-size: 1.5em;
}
.follow-footer ul {
  list-style-type: none;
}
.follow-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.follow-footer a:hover {
  color: white;
}
.credits-footer {
  flex: 1;
  padding: 3em;
}
.credits-footer h6 {
  font-size: 1.5em;
}
.credits-footer ul {
  list-style-type: none;
}
.credits-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.credits-footer a:hover {
  color: white;
}
/* Iphone SE EQUIVALENT
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 300px) and (max-width: 350px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/resume.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 500;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3em;
    width: 100%;
  }
  .self-introduction h2 {
    font-size: 2.8em;
    font-weight: 900;
  }
  .resume-section {
    align-items: center;
    text-align: center;
    padding: 3em;
  }
  .resume-photo {
    width: 100%;
    border-radius: 2em;
    margin: auto;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 0.7em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 0.7em;
  }
  .logo-footer h5 {
    font-size: 0.8em;
  }
  .logo-footer p {
    font-size: 0.7em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 0.8em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 0.8em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 0.8em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 0.8em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* IPHONE X EQUIVILENT
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 351px) and (max-width: 400px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/schoolfix.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 500;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2em;
    width: 90%;
  }
  .self-introduction {
    color: var(--color-white);
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3em;
    right: 0.2em;
    width: 100%;
  }
  .self-introduction h2 {
    font-size: 4em;
    font-weight: 900;
  }
  .resume-section {
    align-items: center;
    text-align: center;
    padding: 3em;
  }
  .resume-photo {
    width: 100%;
    border-radius: 2em;
    margin: auto;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 0.7em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 0.7em;
  }
  .logo-footer h5 {
    font-size: 0.8em;
  }
  .logo-footer p {
    font-size: 0.7em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 0.8em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 0.8em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 0.8em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 0.8em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* IPHONE XR EQUIVALENT
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 376px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/resume.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
    width: 100%;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1em;
    position: relative;
    left: 0.8em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2.5em;
    width: 100%;
  }
  .self-introduction h2 {
    font-size: 4em;
    font-weight: 900;
  }
  .resume-section {
    align-items: center;
    text-align: center;
    padding: 3em;
  }
  .resume-photo {
    width: 100%;
    border-radius: 2em;
    margin: auto;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 0.7em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 0.7em;
  }
  .logo-footer h5 {
    font-size: 1em;
  }
  .logo-footer p {
    font-size: 0.7em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 1em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 1em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 1em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 1em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* TABLET VIEW
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 481px) and (max-width: 912px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/resume.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4em;
    width: 90%;
  }
  .self-introduction h2 {
    font-size: 8em;
    font-weight: 900;
  }
  .resume-section {
    align-items: center;
    text-align: center;
    padding: 3em;
  }
  .resume-photo {
    width: 80%;
    border-radius: 2em;
    margin: auto;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 2em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 1em;
  }
  .logo-footer h5 {
    font-size: 1.5em;
  }
  .logo-footer p {
    font-size: 1em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 1em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 1.5em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 1.5em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 1.5em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
@media (min-width: 1680px) and (max-width: 1800px) {
  .self-introduction {
    top: 10em;
  }
  .social-links {
    position: relative;
    top: 10em;
  }
}
/* RESPONSIVE VIEW ON SOME SMALLER LAPTOPS 
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 913px) and (max-width: 1730px) {
  nav {
    color: var(--color-white);
    display: flex;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: left;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1em;
    width: 100%;
    text-align: center;
  }
  .self-introduction h2 {
    font-size: 6em;
    font-weight: 900;
  }
}
/* MACBOOK PRO ISSUE COME BACK TO THIS LATER
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 1728px) and (max-width: 1800px) {
  nav {
    color: var(--color-white);
    display: flex;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: left;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1em;
    width: 100%;
    text-align: center;
  }
  .self-introduction h2 {
    font-size: 9em;
    font-weight: 900;
  }
}
