@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-one: #146356;
  --color-two: #464e2e;
  --color-three: #966c3b;
  --color-four: #876445;
  --backpack-heros: #ecaa00;
  --g3lifeapps: #85c236;
  --mango-chapel: #db2b39;
}
::selection {
  color: var(--color-one);
}
body {
  background-color: black;
  color: white;
}
.hero {
  background-image: url('../img/header.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
nav {
  color: var(--color-white);
  display: flex;
  padding: 3em;
  width: 100%;
  transition: 2s;
}
.logo-container {
  flex: 1;
}
.logo-container h1 {
  font-size: 2em;
  font-weight: 800;
}
.logo-container a {
  color: var(--color-white);
  text-decoration: none;
}
.logo-container a:hover {
  color: var(--color-one);
}
.link-container {
  flex: 1;
}
.link-container ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 1.2em;
  font-weight: 500;
}
.link-container li {
  padding: 0.6em 0.4em 0em 0.4em;
}
.link-container a {
  color: var(--color-white);
  text-decoration: none;
}
#button {
  background-color: var(--color-one);
  padding: 0.6em;
  border-radius: 2em;
}
#button:hover {
  color: white;
  background-color: #464e2e;
  animation-name: button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.self-introduction {
  color: var(--color-white);
  padding: 3em;
  transition: 2s;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20em;
  width: 90%;
}
.self-introduction h2 {
  font-size: 9em;
  font-weight: 900;
}
.self-introduction h3 {
  font-size: 6.2em;
  font-weight: 900;
  position: relative;
  bottom: 0.4em;
}
#easter {
  cursor: pointer;
}
.self-introduction p {
  font-size: 1.5em;
  width: 30%;
  position: relative;
  bottom: 1.3em;
}
.social-links {
  position: relative;
  top: 25em;
}
.social-links ul {
  list-style-type: none;
  padding: 3em;
  display: flex;
}
.social-links li {
  padding: 0em 0.2em 0em 0.2em;
  transform: scale(0.6);
}
@keyframes button {
  0% {
    background-color: var(--color-one);
  }
  50% {
    background-color: var(--color-two);
  }
  100% {
    background-color: #146356;
  }
}
@keyframes project {
  0% {
    color: var(--backpack-heros);
  }
  50% {
    color: var(--g3lifeapps);
  }
  80% {
    color: var(--mango-chapel);
  }
  100% {
    color: var(--backpack-heros);
  }
}
.project-header-text h3 {
  font-size: 3.5em;
  text-align: center;
  padding: 1em 0em 0em 0em;
  transition: 2s;
  animation-name: project;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.project-one {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em 3em 1em 3em;
  transition: 2s;
}
.project-one h4 {
  font-size: 3em;
  text-align: center;
  padding: 0.3em 0em 0.3em 0em;
  color: var(--backpack-heros);
}
.project-one p {
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  padding: 0em 0em 1.3em 0em;
}
.project-one img {
  width: 50%;
  border-radius: 25em;
}
.project-one a {
  background-color: #ecaa00;
  padding: 0.6em;
  border-radius: 2em;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
.project-two {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em 3em 1em 3em;
  transition: 2s;
}
.project-two h4 {
  font-size: 3em;
  text-align: center;
  padding: 0.3em 0em 0.3em 0em;
  color: var(--g3lifeapps);
}
.project-two p {
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  padding: 0em 0em 1.3em 0em;
}
.project-two img {
  width: 50%;
  border-radius: 25em;
}
.project-two a {
  background-color: var(--g3lifeapps);
  padding: 0.6em;
  border-radius: 2em;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
.project-three {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em 3em 1em 3em;
  transition: 2s;
}
.project-three h4 {
  font-size: 3em;
  text-align: center;
  padding: 0.3em 0em 0.3em 0em;
  color: var(--mango-chapel);
}
.project-three p {
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  padding: 0em 0em 1.3em 0em;
}
.project-three img {
  width: 50%;
  border-radius: 25em;
}
.project-three a {
  background-color: var(--mango-chapel);
  padding: 0.6em;
  border-radius: 2em;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
.email-contact-section {
  background-image: url('../img/hamed-hosseini-0kG6jZC_j78-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  margin-top: 3em;
  text-align: center;
  transition: 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-contact-section h4 {
  font-size: 4.8em;
  width: 70%;
}
.email-contact-section p {
  font-size: 3em;
  width: 70%;
}
.email-contact-section a {
  background-color: var(--color-one);
  padding: 0.6em;
  border-radius: 2em;
  font-size: 1.5em;
  margin-top: 1em;
  color: var(--color-white);
  text-decoration: none;
}
.email-contact-section a:hover {
  animation-name: button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.newsletter-sign-up {
  align-items: center;
  text-align: center;
  background-color: var(--color-one);
  padding: 6em;
  border-radius: 10em;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin: 3em 0em 3em 4em;
}
.newsletter-header {
  flex: 1;
}
.newsletter-header h4 {
  font-size: 2.5em;
}
.newsletter-header p {
  font-size: 1.2em;
  padding: 0em 0em 1em 0em;
}
.newsletter-form {
  flex: 1;
  padding: 0em 0em 1em 0em;
}
.seperate1 {
  position: relative;
  right: 1em;
}
.seperate2 {
  position: relative;
  right: 0.5em;
}

.seperate4 {
  position: relative;
  left: 0.5em;
}
.newsletter-form input {
  padding: 0.8em;
  font-size: 1.2em;
  border-radius: 2em;
  border: none;
}
.newsletter-form button {
  padding: 0.8em;
  font-size: 1.2em;
  border: none;
  border-radius: 2em;
}
.newsletter-footer {
  flex: 1;
}
.newsletter-footer p {
  font-size: 1em;
}
.footer-container {
  background-color: var(--color-one);
  display: flex;
  padding: 2em;
}
.logo-footer {
  flex: 3;
  padding: 3em;
}
.logo-footer h5 {
  font-size: 2.5em;
}
.logo-footer p {
  font-size: 1em;
  padding: 0.4em 0em 0em 0em;
  color: rgb(206, 206, 206);
}
#bold {
  color: white;
}
.explore-footer {
  flex: 1;
  padding: 3em;
}
.explore-footer h6 {
  font-size: 1.5em;
}
.explore-footer ul {
  list-style-type: none;
}
.explore-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.explore-footer a:hover {
  color: white;
}
.follow-footer {
  flex: 1;
  padding: 3em;
}
.follow-footer h6 {
  font-size: 1.5em;
}
.follow-footer ul {
  list-style-type: none;
}
.follow-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.follow-footer a:hover {
  color: white;
}
.credits-footer {
  flex: 1;
  padding: 3em;
}
.credits-footer h6 {
  font-size: 1.5em;
}
.credits-footer ul {
  list-style-type: none;
}
.credits-footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}
.credits-footer a:hover {
  color: white;
}
/* Iphone SE
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 300px) and (max-width: 375px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/header.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 500;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2em;
    width: 90%;
  }
  .self-introduction h2 {
    font-size: 2em;
    font-weight: 900;
  }
  .self-introduction h3 {
    font-size: 1.5em;
    font-weight: 900;
    position: relative;
    bottom: 0.4em;
  }
  .self-introduction p {
    font-size: 0.8em;
    width: 90%;
    position: relative;
    bottom: 0.8em;
  }
  .social-links {
    position: relative;
    top: -6em;
  }
  .social-links ul {
    list-style-type: none;
    padding: 2em;
    display: flex;
  }
  .social-links li {
    padding: 0em 0.2em 0em 0.2em;
    transform: scale(0.4);
  }
  .project-header-text h3 {
    font-size: 2em;
    text-align: center;
    padding: 1em 0em 0em 0em;
    transition: 2s;
    animation-name: project;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .project-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-one h4 {
    font-size: 2em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--backpack-heros);
  }
  .project-one p {
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-one img {
    width: 80%;
    border-radius: 25em;
  }
  .project-one a {
    background-color: #ecaa00;
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
  .project-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-two h4 {
    font-size: 2em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--g3lifeapps);
  }
  .project-two p {
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-two img {
    width: 90%;
    border-radius: 25em;
  }
  .project-two a {
    background-color: var(--g3lifeapps);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
  .project-three {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-three h4 {
    font-size: 2em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--mango-chapel);
  }
  .project-three p {
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-three img {
    width: 90%;
    border-radius: 25em;
  }
  .project-three a {
    background-color: var(--mango-chapel);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
  .email-contact-section {
    background-image: url('../img/hamed-hosseini-0kG6jZC_j78-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    margin-top: 3em;
    text-align: center;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .email-contact-section h4 {
    font-size: 2em;
    width: 70%;
  }
  .email-contact-section p {
    font-size: 1em;
    width: 70%;
  }
  .email-contact-section a {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    font-size: 1em;
    margin-top: 1em;
    color: var(--color-white);
    text-decoration: none;
  }
  .email-contact-section a:hover {
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .newsletter-sign-up {
    align-items: center;
    text-align: center;
    background-color: var(--color-one);
    padding: 6em;
    border-radius: 10em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .newsletter-header {
    flex: 1;
  }
  .newsletter-header h4 {
    font-size: 1.8em;
  }
  .newsletter-header p {
    font-size: 0.8em;
    padding: 0em 0em 1em 0em;
  }
  .newsletter-form {
    flex: 1;
    padding: 0em 0em 1em 0em;
  }
  .seperate1 {
    position: relative;
    right: 0em;
  }
  .seperate2 {
    position: relative;
    right: 0em;
  }

  .seperate4 {
    position: relative;
    top: 0em;
  }
  .newsletter-form input {
    padding: 0.6em;
    font-size: 0.8em;
    border-radius: 2em;
    border: none;
    margin: 0.8em;
  }
  .newsletter-form button {
    padding: 0.6em;
    font-size: 0.8em;
    border: none;
    border-radius: 2em;
    margin: 0.6em 1.2em 0em 0em;
  }
  .newsletter-footer {
    flex: 1;
  }

  .newsletter-footer p {
    font-size: 0.8em;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 0.7em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 0.7em;
  }
  .logo-footer h5 {
    font-size: 0.8em;
  }
  .logo-footer p {
    font-size: 0.7em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 0.8em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 0.8em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 0.8em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 0.8em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* Iphone XR and up
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 376px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/header.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8em;
    width: 90%;
  }
  .self-introduction h2 {
    font-size: 4em;
    font-weight: 900;
  }
  .self-introduction h3 {
    font-size: 2em;
    font-weight: 900;
    position: relative;
    bottom: 0.4em;
  }
  .self-introduction p {
    font-size: 1em;
    width: 90%;
    position: relative;
    bottom: 0.8em;
  }
  .social-links {
    position: relative;
    top: 5em;
  }
  .social-links ul {
    list-style-type: none;
    padding: 3em;
    display: flex;
  }
  .social-links li {
    padding: 0em 0.2em 0em 0.2em;
    transform: scale(0.6);
  }
  @keyframes button {
    0% {
      background-color: var(--color-one);
    }
    50% {
      background-color: var(--color-two);
    }
    100% {
      background-color: #146356;
    }
  }
  @keyframes project {
    0% {
      color: var(--backpack-heros);
    }
    50% {
      color: var(--g3lifeapps);
    }
    80% {
      color: var(--mango-chapel);
    }
    100% {
      color: var(--backpack-heros);
    }
  }
  .project-header-text h3 {
    font-size: 2.8em;
    text-align: center;
    padding: 1em 0em 0em 0em;
    transition: 2s;
    animation-name: project;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .project-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-one h4 {
    font-size: 2.7em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--backpack-heros);
  }
  .project-one p {
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-one img {
    width: 100%;
    border-radius: 25em;
  }
  .project-one a {
    background-color: #ecaa00;
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .project-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-two h4 {
    font-size: 2.8em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--g3lifeapps);
  }
  .project-two p {
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-two img {
    width: 100%;
    border-radius: 25em;
  }
  .project-two a {
    background-color: var(--g3lifeapps);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .project-three {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-three h4 {
    font-size: 2.8em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--mango-chapel);
  }
  .project-three p {
    font-size: 0.9em;
    text-align: justify;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-three img {
    width: 100%;
    border-radius: 25em;
  }
  .project-three a {
    background-color: var(--mango-chapel);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .email-contact-section {
    background-image: url('../img/hamed-hosseini-0kG6jZC_j78-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    margin-top: 3em;
    text-align: center;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .email-contact-section h4 {
    font-size: 3em;
    width: 90%;
  }
  .email-contact-section p {
    font-size: 1.7em;
    width: 100%;
  }
  .email-contact-section a {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    font-size: 1.2em;
    margin-top: 1em;
    color: var(--color-white);
    text-decoration: none;
  }
  .email-contact-section a:hover {
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .newsletter-sign-up {
    align-items: center;
    text-align: center;
    background-color: var(--color-one);
    padding: 6em;
    border-radius: 10em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .newsletter-header {
    flex: 1;
  }
  .newsletter-header h4 {
    font-size: 2em;
  }
  .newsletter-header p {
    font-size: 0.9em;
    padding: 0em 0em 1em 0em;
  }
  .newsletter-form {
    flex: 1;
    padding: 0em 0em 1em 0em;
  }
  .seperate1 {
    position: relative;
    right: 0em;
  }
  .seperate2 {
    position: relative;
    right: 0em;
  }

  .seperate4 {
    position: relative;
    top: 0em;
  }
  .newsletter-form input {
    padding: 0.6em;
    font-size: 1em;
    border-radius: 2em;
    border: none;
    margin: 0.8em;
  }
  .newsletter-form button {
    padding: 0.6em;
    font-size: 0.8em;
    border: none;
    border-radius: 2em;
    margin: 0.6em 1.2em 0em 0em;
  }
  .newsletter-footer {
    flex: 1;
  }

  .newsletter-footer p {
    font-size: 0.8em;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 0.7em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 0.7em;
  }
  .logo-footer h5 {
    font-size: 1em;
  }
  .logo-footer p {
    font-size: 0.7em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 1em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 1em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 1em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 1em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 0.7em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* TABLET VIEW 
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 481px) and (max-width: 912px) {
  body {
    background-color: black;
    color: white;
  }
  .hero {
    background-image: url('../img/header.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  nav {
    color: var(--color-white);
    display: flex;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8em;
    width: 90%;
  }
  .self-introduction h2 {
    font-size: 5em;
    font-weight: 900;
  }
  .self-introduction h3 {
    font-size: 3em;
    font-weight: 900;
    position: relative;
    bottom: 0.4em;
  }
  .self-introduction p {
    font-size: 1.2em;
    width: 80%;
    position: relative;
    bottom: 0.8em;
  }
  .social-links {
    position: relative;
    top: 20em;
  }
  .social-links ul {
    list-style-type: none;
    padding: 3em;
    display: flex;
  }
  .social-links li {
    padding: 0em 0.2em 0em 0.2em;
    transform: scale(0.6);
  }
  @keyframes button {
    0% {
      background-color: var(--color-one);
    }
    50% {
      background-color: var(--color-two);
    }
    100% {
      background-color: #146356;
    }
  }
  @keyframes project {
    0% {
      color: var(--backpack-heros);
    }
    50% {
      color: var(--g3lifeapps);
    }
    80% {
      color: var(--mango-chapel);
    }
    100% {
      color: var(--backpack-heros);
    }
  }
  .project-header-text h3 {
    font-size: 3em;
    text-align: center;
    padding: 1em 0em 0em 0em;
    transition: 2s;
    animation-name: project;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .project-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-one h4 {
    font-size: 2.7em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--backpack-heros);
  }
  .project-one p {
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-one img {
    width: 90%;
    border-radius: 25em;
  }
  .project-one a {
    background-color: #ecaa00;
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .project-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-two h4 {
    font-size: 2.8em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--g3lifeapps);
  }
  .project-two p {
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-two img {
    width: 90%;
    border-radius: 25em;
  }
  .project-two a {
    background-color: var(--g3lifeapps);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .project-three {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 3em 1em 3em;
    transition: 2s;
  }
  .project-three h4 {
    font-size: 2.8em;
    text-align: center;
    padding: 0.3em 0em 0.3em 0em;
    color: var(--mango-chapel);
  }
  .project-three p {
    font-size: 0.9em;
    text-align: justify;
    width: 90%;
    text-align: center;
    padding: 0em 0em 1.3em 0em;
  }
  .project-three img {
    width: 90%;
    border-radius: 25em;
  }
  .project-three a {
    background-color: var(--mango-chapel);
    padding: 0.6em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .email-contact-section {
    background-image: url('../img/hamed-hosseini-0kG6jZC_j78-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    margin-top: 3em;
    text-align: center;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .email-contact-section h4 {
    font-size: 3.2em;
    width: 90%;
  }
  .email-contact-section p {
    font-size: 2em;
    width: 100%;
  }
  .email-contact-section a {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    font-size: 1.4em;
    margin-top: 1em;
    color: var(--color-white);
    text-decoration: none;
  }
  .email-contact-section a:hover {
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .newsletter-sign-up {
    align-items: center;
    text-align: center;
    background-color: var(--color-one);
    padding: 6em;
    border-radius: 10em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .newsletter-header {
    flex: 1;
  }
  .newsletter-header h4 {
    font-size: 3em;
  }
  .newsletter-header p {
    font-size: 1em;
    padding: 0em 0em 1em 0em;
  }
  .newsletter-form {
    flex: 1;
    padding: 0em 0em 1em 0em;
  }
  .seperate1 {
    position: relative;
    right: 0em;
  }
  .seperate2 {
    position: relative;
    right: 0em;
  }

  .seperate4 {
    position: relative;
    top: 0em;
  }
  .newsletter-form input {
    padding: 0.6em;
    font-size: 1.7em;
    border-radius: 2em;
    border: none;
    margin: 0.8em;
  }
  .newsletter-form button {
    padding: 0.6em;
    font-size: 1.7em;
    border: none;
    border-radius: 2em;
    margin: 0.6em 1.2em 0em 0em;
  }
  .newsletter-footer {
    flex: 1;
  }
  .newsletter-footer p {
    font-size: 1em;
  }
  .footer-container {
    background-color: var(--color-one);
    display: flex;
    padding: 2em;
    margin-top: 2em;
  }
  .logo-footer {
    flex: 3;
    padding: 1em;
  }
  .logo-footer h5 {
    font-size: 1.5em;
  }
  .logo-footer p {
    font-size: 1em;
    padding: 0.4em 0em 0em 0em;
    color: rgb(206, 206, 206);
  }
  #bold {
    color: white;
    font-size: 1em;
  }
  .explore-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .explore-footer h6 {
    font-size: 1.5em;
  }
  .explore-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .explore-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .explore-footer a:hover {
    color: white;
  }
  .follow-footer {
    flex: 1;
    padding: 0.7em;
  }
  .follow-footer h6 {
    font-size: 1.5em;
  }
  .follow-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .follow-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .follow-footer a:hover {
    color: white;
  }
  .credits-footer {
    flex: 1em;
    padding: 0.7em;
  }
  .credits-footer h6 {
    font-size: 1.5em;
  }
  .credits-footer ul {
    list-style-type: none;
    font-size: 1em;
  }
  .credits-footer a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  .credits-footer a:hover {
    color: white;
  }
}
/* DONT EVEN REMEMBER
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 1680px) and (max-width: 1800px) {
  .self-introduction {
    top: 10em;
  }
  .social-links {
    position: relative;
    top: 4em;
  }
}
/* RESPONSIVE VIEW ON SOME SMALLER LAPTOPS 
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
@media (min-width: 913px) and (max-width: 1300px) {
  nav {
    color: var(--color-white);
    display: flex;
    padding: 2em;
    width: 100%;
    transition: 2s;
  }
  .logo-container {
    flex: 1;
  }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: 800;
  }
  .logo-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  .logo-container a:hover {
    color: var(--color-one);
  }
  .link-container {
    flex: 1;
  }
  .link-container ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
  }
  .link-container li {
    padding: 0.6em 0.4em 0em 0.4em;
  }
  .link-container a {
    color: var(--color-white);
    text-decoration: none;
  }
  #button {
    background-color: var(--color-one);
    padding: 0.6em;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
  }
  #button:hover {
    color: white;
    background-color: #464e2e;
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .self-introduction {
    color: var(--color-white);
    padding: 3em;
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8em;
    width: 90%;
  }
  .self-introduction h2 {
    font-size: 6em;
    font-weight: 900;
  }
  .self-introduction h3 {
    font-size: 4em;
    font-weight: 900;
    position: relative;
    bottom: 0.4em;
  }
  .self-introduction p {
    font-size: 1.2em;
    width: 80%;
    position: relative;
    bottom: 0.8em;
  }
  .social-links {
    position: relative;
    top: 3em;
  }
  .social-links ul {
    list-style-type: none;
    padding: 3em;
    display: flex;
  }
  .social-links li {
    padding: 0em 0.2em 0em 0.2em;
    transform: scale(0.6);
  }
}
